@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  mjx-container[jax="SVG"] {
    display: inline-block !important;
    vertical-align: middle;
    margin: 0 0.1em;
  }
  
  mjx-container[jax="SVG"] > svg {
    @apply inline-block;
    overflow: visible;
  }
}
